<!DOCTYPE html>
<html>
<head>
  <title>Artist Search Results</title>
</head>
<body>
  <h1>Artist Search Results</h1>
  <% artists.forEach(artist => { %>
    <div>
      <h3><%= artist.name %></h3>
      <% if (artist.images.length > 0) { %>
        <img src="<%= artist.images[0].url %>" alt="<%= artist.name %>">
      <% } else { %>
        <p>No image available</p>
      <% } %>
      <a href="/artist-albums/<%= artist.id %>">View Albums</a>
    </div>
  <% }) %
